<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{logUser.image}}" style="width: 250px;margin-bottom: 25px;">
  </div>
  <div class="col-md-8">
    <p>{{logUser.name}}</p>
    <p>{{logUser.email}}</p>
    {{#ifCond user.id kk}}<a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>{{/ifCond}}
  </div>
  <hr>
</div>
<br />
<br />